In [17]:
import numpy as np
import pandas as pd
data=pd.read_csv(r"C:\Users\HP\Documents\Imarticus Data Science\ML\Random Forest\TaxiFare.csv")
data.head()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unique_id             50000 non-null  object
 1   amount                50000 non-null  float64
 2   date_time_of_pickup   50000 non-null  object
 3   longitude_of_pickup   50000 non-null  float64
 4   latitude_of_pickup    50000 non-null  float64
 5   longitude_of_dropoff  50000 non-null  float64
 6   latitude_of_dropoff   50000 non-null  float64
 7   no_of_passenger       50000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.1+ MB

In [19]:
data['date_time_of_pickup']=pd.to_datetime(data['date_time_of_pickup'],format = '%Y-%m-%d %H:%M:%S UTC',errors = 'coerce')

In [20]:
data['date_time_of_pickup']

0       2009-06-15 17:26:21
1       2010-01-05 16:52:16
2       2011-08-18 00:35:00
3       2012-04-21 04:30:42
4       2010-03-09 07:51:00
                ...
49995   2013-06-12 23:25:15
49996   2015-06-22 17:19:18
49997   2011-01-30 04:53:00
49998   2012-11-06 07:09:00
49999   2010-01-13 08:13:14
Name: date_time_of_pickup, Length: 50000, dtype: datetime64[ns]

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unique_id             50000 non-null  object
 1   amount                50000 non-null  float64
 2   date_time_of_pickup   50000 non-null  datetime64[ns]
 3   longitude_of_pickup   50000 non-null  float64
 4   latitude_of_pickup    50000 non-null  float64
 5   longitude_of_dropoff  50000 non-null  float64
 6   latitude_of_dropoff   50000 non-null  float64
 7   no_of_passenger       50000 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 3.1+ MB

In [22]:
data.drop(['unique_id','date_time_of_pickup'],axis=1,inplace=True)
from sklearn.preprocessing import StandardScaler
scaled=StandardScaler()
scaled.fit_transform(data)
print(scaled)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [23]:
x=data.drop(['amount'],axis=1)
y=data['amount']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [24]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=50)

In [25]:
rf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=50, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [26]:
y_pred=rf.predict(X_test)

In [43]:
from sklearn import metrics
print(rf.score(X_test,y_test))

0.7657655140921862

In [45]:
accuracy=metrics.r2_score(y_test,y_pred)
accuracy

0.7657655140921862